page-emotion {
    .banner {
        height: 20%;
        padding: 33px;
        font-size: 2rem;
        text-align: center;
        background-color: #ffb;
        box-shadow: 0 3px 6px #ddd;
    }
    ion-content {}
}