page-emotion {
    .app-title {
        font-weight: bolder;
        color: #1FA2FF;
    }
    .title-two {
        font-size: 2.2rem;
        font-weight: bold;
        color: #AE2542;
    }
    .content-container {
        min-height: 100%;
        background: linear-gradient(to right, #347eff, #1ea3ff);
        .banner {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 33px;
            font-size: 2rem;
            text-align: center;
            color: #fefefe;
            background-color: rgba(50, 50, 50, .5);
            img {
                margin-bottom: 2.5rem;
            }
        }
        .segment-container {
            width: 90%;
            padding: 5px 20px 10px 20px;
            margin: auto;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: rgba(50, 50, 50, .5);
        }
    }
}