<!--
  Generated template for the Emotion page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="dark">
        <ion-title>{{emotion.title}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="content-container">
        <div class="banner">
            <img src="{{emotion.imageUrl}}" alt="Section Image"> {{emotion.greeting}}
        </div>
        <div class="segment-container">
            <ion-segment color="light" [(ngModel)]="mediaType">
                <ion-segment-button value="videos">
                    Videos
                </ion-segment-button>
                <ion-segment-button value="pictures">
                    Pictures
                </ion-segment-button>
            </ion-segment>
        </div>
        <div [ngSwitch]="mediaType">
            <ion-grid *ngSwitchCase="'videos'">
                <ion-row>
                    <ion-col col-6 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let video of emotion.videos">
                        <ion-card (click)="playVideo(video)">
                            <img src="{{video.thumbnailUrl}}" alt="">
                            <ion-card-header text-center>
                                {{video.title}}
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid *ngSwitchCase="'pictures'">
                <ion-row>
                    <ion-col col-6 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let picture of emotion.pictures; let i = index;">
                        <ion-card (click)="showSlides(emotion.pictures, i)">
                            <img src="{{picture.imageUrl}}" alt="">
                            <ion-card-header text-center>
                                {{picture.title}}
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>