<ion-content padding>
    <div class="game-container">
        <div *ngIf="isGameStarted" class="game-info">
            <div>
                <b>Score: {{playersScore}}</b>
            </div>
            <div>
                <b>{{millisLeft}}</b>
            </div>
        </div>
        <div *ngIf="!isGameStarted" class="count-down">
            <h1>Starting In</h1>
            <h2>{{startInSeconds}}</h2>
        </div>
        <div *ngIf="isGameStarted" class="game">
            <img src="{{emojis[currentEmojiIndex]}}" alt="Guess this emoji.">
            <div class="options">
                <div *ngFor="let option of options" class="option" (click)="optionSelected(option)">
                    <img src="{{emojis[option]}}" alt="Option {{option}}">
                </div>
            </div>
        </div>
    </div>
</ion-content>