page-emoji-game {
    ion-content {
        background: linear-gradient(to right, #347eff, #1ea3ff);
        .container {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .display-items {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 30px;
                img {
                    margin-bottom: 10rem;
                }
                button {
                    margin-top: 1rem;
                }
            }
        }
    }
}