page-home {
    .button-container {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: row;
        .buttons-right {
            flex-grow: 1;
            .button-tile {
                margin-left: 0px;
            }
        }
        .buttons-left {
            flex-grow: 1;
        }
        .relax {
            height: 50%;
            background: yellow;
        }
        .emoji-game {
            height: 50%;
            background: blue;
        }
        .happy {
            height: 33%;
            background: pink;
        }
        .satisfying {
            height: 33%;
            background-color: green;
        }
        .heart-rate {
            height: 33%;
            background-color: red;
        }
        .button-tile {
            margin: 8px;
            border-radius: 3px;
            box-shadow: 1px 3px 6px #888;
        }
    }
}