page-home {
    .relax {
        height: 45vh;
        background: yellow;
    }
    .emoji-game {
        height: 45vh;
        background: blue;
    }
    .happy {
        height: 30vh;
        background: pink;
    }
    .satisfying {
        height: 30vh;
        background-color: green;
    }
    .heartrate {
        height: 30vh;
        background-color: red;
    }
}