page-title {
    .title-page {
        text-align: center;
        background: linear-gradient(to right, #347eff, #1ea3ff);
        .title-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 5.5rem;
            background-color: rgba(40, 40, 40, .9);
        }
    }
    .app-title {
        font-weight: bolder;
        color: #1FA2FF;
    }
    .title-two {
        font-size: 3.4rem;
        font-weight: bold;
        color: #AE2542;
    }
}