// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.drawer-container {
    background: #f0f0f0;
    font-size: 1.8rem;
    text-align: center;
}

.app-title {
    font-weight: bolder;
    color: #1FA2FF;
}

.title-two {
    font-size: 2.2rem;
    font-weight: bold;
    color: #AE2542;
}