page-picture-slides {
    ion-slide {
        background: linear-gradient(to right, #347eff, #1ea3ff);
        .slide-content-container {
            padding: 2rem;
            padding-bottom: 0;
            background-color: rgba(50, 50, 50, .5);
            color: #f0f0f0;
        }
        .exit {
            position: absolute;
            top: 4px;
            right: 2rem;
            font-size: 5rem;
            color: #333;
            &:hover {
                cursor: pointer;
                color: #777;
            }
        }
    }
}